USE [master]
GO
/****** Object:  Database [RestaurantManagement]    Script Date: 11/1/2025 7:02:36 AM ******/
CREATE DATABASE [RestaurantManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RestaurantManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RestaurantManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RestaurantManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RestaurantManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RestaurantManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RestaurantManagement]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 11/1/2025 7:02:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](200) NOT NULL,
	[FullName] [nvarchar](1000) NOT NULL,
	[Email] [nvarchar](1000) NULL,
	[Tell] [nvarchar](200) NULL,
	[DateCreated] [smalldatetime] NULL,
 CONSTRAINT [PK_Account_1] PRIMARY KEY CLUSTERED 
(
	[AccountName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BilLDetails]    Script Date: 11/1/2025 7:02:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BilLDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[FoodID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_InvoiceInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 11/1/2025 7:02:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](1000) NOT NULL,
	[TableID] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[Discount] [float] NULL,
	[Tax] [float] NULL,
	[Status] [bit] NOT NULL,
	[CheckoutDate] [smalldatetime] NULL,
	[Account] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/1/2025 7:02:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](1000) NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_FoodCategory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Food]    Script Date: 11/1/2025 7:02:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](1000) NOT NULL,
	[Unit] [nvarchar](100) NOT NULL,
	[FoodCategoryID] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Notes] [nvarchar](3000) NULL,
 CONSTRAINT [PK_FoodStuffs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/1/2025 7:02:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](1000) NOT NULL,
	[Path] [nvarchar](3000) NULL,
	[Notes] [nvarchar](3000) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleAccount]    Script Date: 11/1/2025 7:02:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleAccount](
	[RoleID] [int] NOT NULL,
	[AccountName] [nvarchar](100) NOT NULL,
	[Actived] [bit] NOT NULL,
	[Notes] [nvarchar](3000) NULL,
 CONSTRAINT [PK_RoleAccount] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC,
	[AccountName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table]    Script Date: 11/1/2025 7:02:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](1000) NULL,
	[Status] [int] NOT NULL,
	[Capacity] [int] NULL,
 CONSTRAINT [PK_Table] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([AccountName], [Password], [FullName], [Email], [Tell], [DateCreated]) VALUES (N'admin', N'admin', N'Quản Trị Viên', N'admin@example.com', N'0988888888', CAST(N'2025-01-01T00:00:00' AS SmallDateTime))
INSERT [dbo].[Account] ([AccountName], [Password], [FullName], [Email], [Tell], [DateCreated]) VALUES (N'bepchinh', N'bepchinh123', N'Phạm Gia Hưng', N'hung.pg@example.com', NULL, CAST(N'2025-01-20T11:00:00' AS SmallDateTime))
INSERT [dbo].[Account] ([AccountName], [Password], [FullName], [Email], [Tell], [DateCreated]) VALUES (N'manager', N'manager', N'Nguyễn Thị An', N'an.nt@example.com', N'0905111222', CAST(N'2025-01-02T07:15:00' AS SmallDateTime))
GO
SET IDENTITY_INSERT [dbo].[BilLDetails] ON 

INSERT [dbo].[BilLDetails] ([ID], [InvoiceID], [FoodID], [Quantity]) VALUES (1, 1, 2, 1)
INSERT [dbo].[BilLDetails] ([ID], [InvoiceID], [FoodID], [Quantity]) VALUES (2, 1, 1, 1)
INSERT [dbo].[BilLDetails] ([ID], [InvoiceID], [FoodID], [Quantity]) VALUES (3, 1, 10, 4)
SET IDENTITY_INSERT [dbo].[BilLDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Bills] ON 

INSERT [dbo].[Bills] ([ID], [Name], [TableID], [Amount], [Discount], [Tax], [Status], [CheckoutDate], [Account]) VALUES (1, N'Hóa đơn thanh toán 01', 5, 230000, 0.05, 0.08, 1, CAST(N'2025-10-20T14:30:00' AS SmallDateTime), N'thungan_a')
INSERT [dbo].[Bills] ([ID], [Name], [TableID], [Amount], [Discount], [Tax], [Status], [CheckoutDate], [Account]) VALUES (2, N'Hóa đơn tiệc VIP', 1006, 3500000, 0.1, 0.1, 1, CAST(N'2025-10-21T20:00:00' AS SmallDateTime), N'ngovanchuong')
INSERT [dbo].[Bills] ([ID], [Name], [TableID], [Amount], [Discount], [Tax], [Status], [CheckoutDate], [Account]) VALUES (3, N'Hóa đơn khách lẻ', 6, 850000, 0, 0.08, 1, CAST(N'2025-10-22T12:00:00' AS SmallDateTime), N'thungan_a')
SET IDENTITY_INSERT [dbo].[Bills] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [Name], [Type]) VALUES (1, N'Món khai vị', 1)
INSERT [dbo].[Category] ([ID], [Name], [Type]) VALUES (2, N'Hải sản tươi sống', 1)
INSERT [dbo].[Category] ([ID], [Name], [Type]) VALUES (3, N'Các món Gà/Vịt', 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Food] ON 

INSERT [dbo].[Food] ([ID], [Name], [Unit], [FoodCategoryID], [Price], [Notes]) VALUES (1, N'Cải thìa xào nấm đông cô', N'Đĩa', 6, 45000, N'Món chay')
INSERT [dbo].[Food] ([ID], [Name], [Unit], [FoodCategoryID], [Price], [Notes]) VALUES (2, N'Cơm chiên Hải Phòng', N'Đĩa nhỏ', 4, 60000, N'Hơi cay')
INSERT [dbo].[Food] ([ID], [Name], [Unit], [FoodCategoryID], [Price], [Notes]) VALUES (3, N'Cơm chiên Tứ Xuyên', N'Đĩa lớn', 4, 80000, N'4 người ăn')
SET IDENTITY_INSERT [dbo].[Food] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [RoleName], [Path], [Notes]) VALUES (1, N'Administrator', NULL, NULL)
INSERT [dbo].[Role] ([ID], [RoleName], [Path], [Notes]) VALUES (2, N'Kế toán', NULL, NULL)
INSERT [dbo].[Role] ([ID], [RoleName], [Path], [Notes]) VALUES (3, N'Nhân viên thanh toán', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
INSERT [dbo].[RoleAccount] ([RoleID], [AccountName], [Actived], [Notes]) VALUES (1, N'admin', 1, NULL)
INSERT [dbo].[RoleAccount] ([RoleID], [AccountName], [Actived], [Notes]) VALUES (1, N'ngovanchuong', 1, NULL)
INSERT [dbo].[RoleAccount] ([RoleID], [AccountName], [Actived], [Notes]) VALUES (2, N'manager', 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[Table] ON 

INSERT [dbo].[Table] ([ID], [Name], [Status], [Capacity]) VALUES (1, N'A01', 1, 4)
INSERT [dbo].[Table] ([ID], [Name], [Status], [Capacity]) VALUES (2, N'A02', 0, 4)
INSERT [dbo].[Table] ([ID], [Name], [Status], [Capacity]) VALUES (4, N'A03', 0, 4)
SET IDENTITY_INSERT [dbo].[Table] OFF
GO
ALTER TABLE [dbo].[BilLDetails] ADD  CONSTRAINT [DF_InvoiceDetails_Amount]  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Food] ADD  CONSTRAINT [DF_Food_Price]  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[BilLDetails]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceInfo_FoodStuffs] FOREIGN KEY([FoodID])
REFERENCES [dbo].[Food] ([ID])
GO
ALTER TABLE [dbo].[BilLDetails] CHECK CONSTRAINT [FK_InvoiceInfo_FoodStuffs]
GO
ALTER TABLE [dbo].[BilLDetails]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceInfo_Invoice] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Bills] ([ID])
GO
ALTER TABLE [dbo].[BilLDetails] CHECK CONSTRAINT [FK_InvoiceInfo_Invoice]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Table] FOREIGN KEY([TableID])
REFERENCES [dbo].[Table] ([ID])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Invoice_Table]
GO
ALTER TABLE [dbo].[Food]  WITH CHECK ADD  CONSTRAINT [FK_FoodStuffs_FoodCategory] FOREIGN KEY([FoodCategoryID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Food] CHECK CONSTRAINT [FK_FoodStuffs_FoodCategory]
GO
ALTER TABLE [dbo].[RoleAccount]  WITH CHECK ADD  CONSTRAINT [FK_RoleAccount_Account] FOREIGN KEY([AccountName])
REFERENCES [dbo].[Account] ([AccountName])
GO
ALTER TABLE [dbo].[RoleAccount] CHECK CONSTRAINT [FK_RoleAccount_Account]
GO
ALTER TABLE [dbo].[RoleAccount]  WITH CHECK ADD  CONSTRAINT [FK_RoleAccount_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[RoleAccount] CHECK CONSTRAINT [FK_RoleAccount_Role]
GO
/****** Object:  StoredProcedure [dbo].[Account_DeactivateRoles]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thủ tục mới theo yêu cầu Bài tập 3
CREATE PROCEDURE [dbo].[Account_DeactivateRoles]
    @AccountName nvarchar(100)
AS
BEGIN
    -- Đặt tất cả vai trò của tài khoản này về 0 (không kích hoạt)
    UPDATE RoleAccount
    SET Actived = 0
    WHERE AccountName = @AccountName;
END
GO
/****** Object:  StoredProcedure [dbo].[Account_GetAll]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Thủ tục cho Bảng Account
-- =============================================

-- 1. Lấy tất cả Account
CREATE PROCEDURE [dbo].[Account_GetAll]
AS
BEGIN
    SELECT AccountName, Password, FullName, Email, Tell, DateCreated 
    FROM Account
END
GO
/****** Object:  StoredProcedure [dbo].[Account_InsertUpdateDelete]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Thêm/Sửa/Xóa Account
CREATE PROCEDURE [dbo].[Account_InsertUpdateDelete]
    @AccountName nvarchar(100),
    @Password nvarchar(200),
    @FullName nvarchar(1000),
    @Email nvarchar(1000),
    @Tell nvarchar(200),
    @Action int -- 0: Thêm, 1: Sửa, 2: Xóa
AS
BEGIN
    -- Nếu Action = 0, thực hiện thêm dữ liệu
    IF @Action = 0
    BEGIN
        INSERT INTO [Account] (AccountName, Password, FullName, Email, Tell, DateCreated)
        VALUES (@AccountName, @Password, @FullName, @Email, @Tell, GETDATE())
    END
    
    -- Nếu Action = 1, thực hiện cập nhật dữ liệu
    ELSE IF @Action = 1
    BEGIN
        UPDATE [Account]
        SET Password = @Password,
            FullName = @FullName,
            Email = @Email,
            Tell = @Tell
        WHERE AccountName = @AccountName
    END
    
    -- Nếu Action = 2, thực hiện xóa dữ liệu
    ELSE IF @Action = 2
    BEGIN
        -- Phải xóa ở bảng RoleAccount trước (vì có khóa ngoại)
        DELETE FROM RoleAccount 
        WHERE AccountName = @AccountName
        
        -- Sau đó xóa ở bảng Account
        DELETE FROM Account 
        WHERE AccountName = @AccountName
    END
END
GO
/****** Object:  StoredProcedure [dbo].[BillDetails_GetByBillID]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Thủ tục cho Bảng BillDetails (Chi tiết Hóa đơn)
-- =============================================

-- 3. Lấy chi tiết hóa đơn theo BillID (InvoiceID)
CREATE PROCEDURE [dbo].[BillDetails_GetByBillID]
    @InvoiceID int
AS
BEGIN
    SELECT * FROM [dbo].[BillDetails] WHERE InvoiceID = @InvoiceID
END
GO
/****** Object:  StoredProcedure [dbo].[BillDetails_InsertUpdateDelete]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Thêm/Sửa/Xóa Chi tiết Hóa đơn
CREATE PROCEDURE [dbo].[BillDetails_InsertUpdateDelete]
    @ID int output,
    @InvoiceID int,
    @FoodID int,
    @Quantity int,
    @Action int -- 0: Thêm, 1: Sửa, 2: Xóa
AS
BEGIN
    IF @Action = 0 -- Thêm
    BEGIN
        INSERT INTO [dbo].[BillDetails] (InvoiceID, FoodID, Quantity)
        VALUES (@InvoiceID, @FoodID, @Quantity)
        SET @ID = @@identity
    END
    ELSE IF @Action = 1 -- Sửa (cập nhật số lượng)
    BEGIN
        UPDATE [dbo].[BillDetails]
        SET Quantity = @Quantity
        WHERE ID = @ID OR (InvoiceID = @InvoiceID AND FoodID = @FoodID) -- Cho phép Sửa theo ID hoặc theo cặp (BillID, FoodID)
    END
    ELSE IF @Action = 2 -- Xóa
    BEGIN
        DELETE FROM [dbo].[BillDetails]
        WHERE ID = @ID OR (InvoiceID = @InvoiceID AND FoodID = @FoodID)
    END
END
GO
/****** Object:  StoredProcedure [dbo].[Bills_GetUncheckByTableID]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Thủ tục cho Bảng Bills (Hóa đơn)
-- =============================================

-- 1. Lấy hóa đơn CHƯA THANH TOÁN theo TableID
CREATE PROCEDURE [dbo].[Bills_GetUncheckByTableID]
    @TableID int
AS
BEGIN
    -- Status = 0 là chưa thanh toán
    SELECT * FROM [dbo].[Bills] WHERE TableID = @TableID AND Status = 0
END
GO
/****** Object:  StoredProcedure [dbo].[Bills_InsertUpdateDelete]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Thêm/Sửa/Xóa Hóa đơn
CREATE PROCEDURE [dbo].[Bills_InsertUpdateDelete]
    @ID int output,
    @Name nvarchar(1000),
    @TableID int,
    @Amount int,
    @Discount float,
    @Tax float,
    @Status bit,
    @Account nvarchar(100),
    @Action int -- 0: Thêm, 1: Sửa, 2: Xóa
AS
BEGIN
    IF @Action = 0 -- Thêm
    BEGIN
        INSERT INTO [dbo].[Bills] (Name, TableID, Amount, Discount, Tax, Status, CheckoutDate, Account)
        VALUES (@Name, @TableID, @Amount, @Discount, @Tax, 0, NULL, @Account) -- Mới tạo thì Status = 0
        SET @ID = @@identity
    END
    ELSE IF @Action = 1 -- Sửa (Dùng cho thanh toán, cập nhật giảm giá...)
    BEGIN
        UPDATE [dbo].[Bills]
        SET Name = @Name,
            TableID = @TableID,
            Amount = @Amount,
            Discount = @Discount,
            Tax = @Tax,
            Status = @Status,
            CheckoutDate = CASE WHEN @Status = 1 THEN GETDATE() ELSE NULL END, -- Nếu Status = 1 (thanh toán) thì cập nhật ngày
            Account = @Account
        WHERE ID = @ID
    END
    ELSE IF @Action = 2 -- Xóa
    BEGIN
        -- Phải xóa BillDetails trước
        DELETE FROM [dbo].[BillDetails] WHERE InvoiceID = @ID
        DELETE FROM [dbo].[Bills] WHERE ID = @ID
    END
END
GO
/****** Object:  StoredProcedure [dbo].[Category_GetAll]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Thủ tục cho Bảng Category
-- =============================================

-- 1. Lấy tất cả Category
CREATE PROCEDURE [dbo].[Category_GetAll]
AS
BEGIN
    SELECT * FROM Category
END
GO
/****** Object:  StoredProcedure [dbo].[Category_InsertUpdateDelete]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Thêm/Sửa/Xóa Category
CREATE PROCEDURE [dbo].[Category_InsertUpdateDelete]
    @ID int output,
    @Name nvarchar(200),
    @Type int,
    @Action int -- 0: Thêm, 1: Sửa, 2: Xóa
AS
BEGIN
    -- Nếu Action = 0, thực hiện thêm dữ liệu
    IF @Action = 0
    BEGIN
        INSERT INTO [Category] ([Name], [Type])
        VALUES (@Name, @Type)
        SET @ID = @@identity -- Thiết lập ID tự tăng
    END
    -- Nếu Action = 1, thực hiện cập nhật dữ liệu
    ELSE IF @Action = 1
    BEGIN
        UPDATE [Category] 
        SET [Name] = @Name, [Type] = @Type
        WHERE [ID] = @ID
    END
    -- Nếu Action = 2, thực hiện xóa dữ liệu
    ELSE IF @Action = 2
    BEGIN
        DELETE FROM [Category] 
        WHERE [ID] = @ID
    END
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteAccountRoles]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteAccountRoles]
    @AccountName nvarchar(100)
AS
    DELETE FROM RoleAccount WHERE AccountName = @AccountName
GO
/****** Object:  StoredProcedure [dbo].[Food_GetAll]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Thủ tục cho Bảng Food
-- =============================================

-- 3. Lấy tất cả Food
CREATE PROCEDURE [dbo].[Food_GetAll]
AS
BEGIN
    SELECT * FROM Food
END
GO
/****** Object:  StoredProcedure [dbo].[Food_InsertUpdateDelete]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Thêm/Sửa/Xóa Food
CREATE PROCEDURE [dbo].[Food_InsertUpdateDelete]
    @ID int output,
    @Name nvarchar(1000),
    @Unit nvarchar(100),
    @FoodCategoryID int,
    @Price int,
    @Notes nvarchar(3000),
    @Action int -- 0: Thêm, 1: Sửa, 2: Xóa
AS
BEGIN
    -- Nếu Action = 0, thêm dữ liệu
    IF @Action = 0
    BEGIN
        INSERT INTO [Food] ([Name], [Unit], [FoodCategoryID], [Price], [Notes])
        VALUES (@Name, @Unit, @FoodCategoryID, @Price, @Notes)
        SET @ID = @@identity -- Thiết lập ID tự tăng
    END
    -- Nếu Action = 1, cập nhật dữ liệu
    ELSE IF @Action = 1
    BEGIN
        UPDATE [Food]
        SET [Name] = @Name, 
            [Unit] = @Unit, 
            [FoodCategoryID] = @FoodCategoryID,
            [Price] = @Price, 
            [Notes] = @Notes
        WHERE [ID] = @ID
    END
    -- Nếu Action = 2, xóa dữ liệu
    ELSE IF @Action = 2
    BEGIN
        DELETE FROM [Food] 
        WHERE [ID] = @ID
    END
END
GO
/****** Object:  StoredProcedure [dbo].[GetAccountStatistics]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAccountStatistics]
    @AccountName nvarchar(100)
AS
    SELECT COUNT(*) as TotalBills, SUM(Amount) as TotalAmount 
    FROM Bills 
    WHERE Account = @AccountName
GO
/****** Object:  StoredProcedure [dbo].[GetAllAccounts]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllAccounts]
AS
    SELECT AccountName, Password, FullName, Email, Tell, DateCreated 
    FROM Account
GO
/****** Object:  StoredProcedure [dbo].[GetBillDates_ByTableID]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 2. TẠO 3 THỦ TỤC (SP) MỚI ĐỂ XEM LỊCH SỬ THEO BÀN
-- SP 1: Lấy danh sách các ngày có hóa đơn (đã thanh toán) của 1 BÀN
CREATE PROCEDURE [dbo].[GetBillDates_ByTableID]
    @TableID int
AS
BEGIN
    SELECT DISTINCT CONVERT(date, CheckoutDate) AS BillDate
    FROM Bills
    WHERE TableID = @TableID AND Status = 1 -- Chỉ lấy HĐ đã thanh toán
    ORDER BY BillDate DESC
END
GO
/****** Object:  StoredProcedure [dbo].[GetBillDatesByAccount]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBillDatesByAccount]
    @AccountName nvarchar(100)
AS
    SELECT DISTINCT CheckoutDate 
    FROM Bills 
    WHERE Account = @AccountName 
    ORDER BY CheckoutDate DESC
GO
/****** Object:  StoredProcedure [dbo].[GetBillDetails]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBillDetails]
    @BillID int
AS
BEGIN
    SELECT 
        f.Name AS FoodName,
        f.Unit,
        f.Price,
        bd.Quantity,
        (f.Price * bd.Quantity) AS Total
    FROM BillDetails bd, Food f
    WHERE bd.FoodID = f.ID AND bd.InvoiceID = @BillID
END
GO
/****** Object:  StoredProcedure [dbo].[GetBillDetails_ByDateAndTableID]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP 2: Lấy chi tiết hóa đơn của 1 BÀN vào 1 NGÀY cụ thể
CREATE PROCEDURE [dbo].[GetBillDetails_ByDateAndTableID]
    @TableID int,
    @BillDate date
AS
BEGIN
    SELECT 
        b.ID AS BillID,
        f.Name AS FoodName,
        bd.Quantity,
        f.Price,
        (bd.Quantity * f.Price) AS Total
    FROM Bills b
    JOIN BilLDetails bd ON b.ID = bd.InvoiceID
    JOIN Food f ON bd.FoodID = f.ID
    WHERE b.TableID = @TableID 
      AND b.Status = 1
      AND CONVERT(date, b.CheckoutDate) = @BillDate
END
GO
/****** Object:  StoredProcedure [dbo].[GetBillDetailsByDate]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBillDetailsByDate]
    @AccountName nvarchar(100),
    @CheckoutDate smalldatetime
AS
    SELECT b.Name, b.TableID, f.Name as FoodName, f.Unit, f.Price, bd.Quantity, 
           (f.Price * bd.Quantity) as Total
    FROM Bills b, BillDetails bd, Food f
    WHERE b.ID = bd.InvoiceID 
      AND bd.FoodID = f.ID
      AND b.Account = @AccountName 
      AND b.CheckoutDate = @CheckoutDate
GO
/****** Object:  StoredProcedure [dbo].[GetBillLog_ByTableID]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP 3: Lấy nhật ký (log) tất cả hóa đơn (đã thanh toán) của 1 BÀN
CREATE PROCEDURE [dbo].[GetBillLog_ByTableID]
    @TableID int
AS
BEGIN
    SELECT 
        ID AS BillID,
        (Amount - Discount + Tax) AS Revenue,
        CheckoutDate,
        Account
    FROM Bills
    WHERE TableID = @TableID AND Status = 1
    ORDER BY CheckoutDate DESC
END
GO
/****** Object:  StoredProcedure [dbo].[GetBillsByDateRange]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBillsByDateRange]
    @FromDate smalldatetime,
    @ToDate smalldatetime
AS
BEGIN
    SELECT 
        ID,
        Name,
        TableID,
        Amount,
        Discount,
        Tax,
        Status,
        CheckoutDate,
        Account
    FROM Bills
    WHERE CheckoutDate BETWEEN @FromDate AND @ToDate
    ORDER BY CheckoutDate DESC
END
GO
/****** Object:  StoredProcedure [dbo].[InsertAccount]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertAccount]
    @AccountName nvarchar(100),
    @Password nvarchar(200),
    @FullName nvarchar(1000),
    @Email nvarchar(1000),
    @Tell nvarchar(200)
AS
    INSERT INTO Account (AccountName, Password, FullName, Email, Tell, DateCreated)
    VALUES (@AccountName, @Password, @FullName, @Email, @Tell, GETDATE())
GO
/****** Object:  StoredProcedure [dbo].[InsertCategory]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertCategory]
    @Name nvarchar(1000),
    @Type int
AS
BEGIN
    INSERT INTO Category (Name, Type)
    VALUES (@Name, @Type)
    
    RETURN SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[InsertFood]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[InsertFood]
@ID int output,
@Name nvarchar(3000), 
@Unit nvarchar(3000), 
@FoodCategoryID int, 
@Price int,  
@Notes nvarchar(3000)
AS
	INSERT INTO Food (Name, Unit, FoodCategoryID, Price,  Notes)
	VALUES ( @Name, @Unit, @FoodCategoryID, @Price,  @Notes)

	SELECT @ID = SCOPE_IDENTITY()

GO
/****** Object:  StoredProcedure [dbo].[InsertRole]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertRole]
    @RoleName nvarchar(1000)
AS
    INSERT INTO Role (RoleName) VALUES (@RoleName)
GO
/****** Object:  StoredProcedure [dbo].[Role_GetAll]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Thủ tục cho Bảng Role
-- =============================================

-- 1. Lấy tất cả Role
CREATE PROCEDURE [dbo].[Role_GetAll]
AS
BEGIN
    SELECT ID, RoleName, Path, Notes 
    FROM [dbo].[Role]
END
GO
/****** Object:  StoredProcedure [dbo].[Role_InsertUpdateDelete]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Thêm/Sửa/Xóa Role
CREATE PROCEDURE [dbo].[Role_InsertUpdateDelete]
    @ID int output,
    @RoleName nvarchar(1000),
    @Path nvarchar(3000),
    @Notes nvarchar(3000),
    @Action int -- 0: Thêm, 1: Sửa, 2: Xóa
AS
BEGIN
    -- Nếu Action = 0, thực hiện thêm dữ liệu
    IF @Action = 0
    BEGIN
        INSERT INTO [dbo].[Role] (RoleName, Path, Notes)
        VALUES (@RoleName, @Path, @Notes)
        SET @ID = @@identity
    END
    
    -- Nếu Action = 1, thực hiện cập nhật dữ liệu
    ELSE IF @Action = 1
    BEGIN
        UPDATE [dbo].[Role]
        SET RoleName = @RoleName,
            Path = @Path,
            Notes = @Notes
        WHERE ID = @ID
    END
    
    -- Nếu Action = 2, thực hiện xóa dữ liệu
    ELSE IF @Action = 2
    BEGIN
        -- Phải xóa ở bảng RoleAccount trước (vì có khóa ngoại)
        DELETE FROM RoleAccount
        WHERE RoleID = @ID

        -- Sau đó xóa ở bảng Role
        DELETE FROM [dbo].[Role]
        WHERE ID = @ID
    END
END
GO
/****** Object:  StoredProcedure [dbo].[RoleAccount_DeleteByAccount]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Xóa tất cả các vai trò của một tài khoản
CREATE PROCEDURE [dbo].[RoleAccount_DeleteByAccount]
    @AccountName nvarchar(100)
AS
BEGIN
    DELETE FROM [dbo].[RoleAccount]
    WHERE AccountName = @AccountName
END
GO
/****** Object:  StoredProcedure [dbo].[RoleAccount_GetByAccountName]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Thủ tục cho Bảng RoleAccount
-- =============================================

-- 1. Lấy danh sách RoleID đã gán cho một tài khoản
CREATE PROCEDURE [dbo].[RoleAccount_GetByAccountName]
    @AccountName nvarchar(100)
AS
BEGIN
    SELECT RoleID, Actived 
    FROM [dbo].[RoleAccount]
    WHERE AccountName = @AccountName AND Actived = 1
END
GO
/****** Object:  StoredProcedure [dbo].[RoleAccount_Insert]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Thêm một vai trò cho tài khoản
CREATE PROCEDURE [dbo].[RoleAccount_Insert]
    @RoleID int,
    @AccountName nvarchar(100),
    @Actived bit,
    @Notes nvarchar(3000)
AS
BEGIN
    INSERT INTO [dbo].[RoleAccount] (RoleID, AccountName, Actived, Notes)
    VALUES (@RoleID, @AccountName, @Actived, @Notes)
END
GO
/****** Object:  StoredProcedure [dbo].[Table_GetAll]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Thủ tục cho Bảng Table
-- =============================================

-- 1. Lấy tất cả Bàn
CREATE PROCEDURE [dbo].[Table_GetAll]
AS
BEGIN
    -- Dùng [Table] vì "Table" là từ khóa
    SELECT ID, Name, Status, Capacity 
    FROM [dbo].[Table]
END
GO
/****** Object:  StoredProcedure [dbo].[Table_InsertUpdateDelete]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Thêm/Sửa/Xóa Bàn
CREATE PROCEDURE [dbo].[Table_InsertUpdateDelete]
    @ID int output,
    @Name nvarchar(1000),
    @Status int,
    @Capacity int,
    @Action int -- 0: Thêm, 1: Sửa, 2: Xóa
AS
BEGIN
    -- Nếu Action = 0, thực hiện thêm dữ liệu
    IF @Action = 0
    BEGIN
        INSERT INTO [dbo].[Table] (Name, Status, Capacity)
        VALUES (@Name, @Status, @Capacity)
        SET @ID = @@identity -- Thiết lập ID tự tăng
    END
    
    -- Nếu Action = 1, thực hiện cập nhật dữ liệu
    ELSE IF @Action = 1
    BEGIN
        UPDATE [dbo].[Table]
        SET Name = @Name,
            Status = @Status,
            Capacity = @Capacity
        WHERE ID = @ID
    END
    
    -- Nếu Action = 2, thực hiện xóa dữ liệu
    ELSE IF @Action = 2
    BEGIN
        DELETE FROM [dbo].[Table]
        WHERE ID = @ID
    END
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateAccount]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateAccount]
    @AccountName nvarchar(100),
    @Password nvarchar(200),
    @FullName nvarchar(1000),
    @Email nvarchar(1000),
    @Tell nvarchar(200)
AS
    UPDATE Account 
    SET Password = @Password, 
        FullName = @FullName, 
        Email = @Email, 
        Tell = @Tell
    WHERE AccountName = @AccountName
GO
/****** Object:  StoredProcedure [dbo].[UpdateAccountRoles]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateAccountRoles]
    @AccountName nvarchar(100),
    @RoleID int
AS
    INSERT INTO RoleAccount (RoleID, AccountName, Actived) 
    VALUES (@RoleID, @AccountName, 1)
GO
/****** Object:  StoredProcedure [dbo].[UpdateFood]    Script Date: 11/1/2025 7:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateFood]
    @ID int,
    @Name nvarchar(1000),
    @Unit nvarchar(100),
    @FoodCategoryID int,
    @Price int,
    @Notes nvarchar(3000)
AS
BEGIN
    UPDATE [Food]
    SET
        [Name] = @Name,
        [Unit] = @Unit,
        [FoodCategoryID] = @FoodCategoryID,
        [Price] = @Price,
        [Notes] = @Notes
    WHERE ID = @ID

    IF @@ERROR <> 0
        RETURN 0
    ELSE
        RETURN 1
END
GO
USE [master]
GO
